img{
  margin-bottom: 2rem ;
  margin-top: 1rem;
}
input[type="file"] {
    display: none;
}
label {
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

label:hover {
  border-color: #6488ff;
}
label:focus,
label:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
